
/* CSS Document

	Name: Pablo Garcia Fernandez
	Twitter: @PableraShow
	Website: http://pablogarciafernandez.com

*/

@import url (http://pablogarciafernandez.com/css/reset.css);

/* Typography
------------------------------------- */
@charset "UTF-8";
@import url (http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 300;	
	font-style: normal;
	word-spacing: normal;
	letter-spacing: normal;
	text-rendering: optimizeLegibility;
	line-height: 1.8em;
	color:#717171;
}

h1 {
	font-size: 2em;
	font-weight: 300;
	line-height: 4em;
	text-transform: uppercase;
	color: #BDBDBD;
}

h2 {
	font-size: 1.4em;
	font-weight: 400;
	line-height: 1em;
}

p {
	font-size: 1.16em;
	line-height: 4em;
}

p svg {
	display: inline-block;
	vertical-align: middle;
}

a {
	font-size: 1em;
	font-weight: 400;
	line-height: 100%;
	color: #3A53BD;
}

a:hover { text-decoration: none; }

a [href$="http://pablogarciafernandez.com"] {
	font-size: 1em;
	font-weight: 700;
	letter-spacing: -0.04em;
	text-decoration: none;
	text-transform: uppercase;
	color: #575757;
	margin: 1.4em 0 1.4em;
	display: inline;
}

/* ----------- CodePen styles ----------- */
.codepen-style { padding: 2em 0 0 0; }

.codepen-style h1 {
	font-family: 'Open Sans', sans-serif;
	font-size:3em; 
	font-weight: 300;
	color:#000;
	line-height:1.8em;
	text-transform: none;
}

.codepen-style h1 span {
	font-style: italic;
	font-weight: 700;
	text-transform: none;
	color: red;
}

.codepen-style h2 {
	font-weight: 300;
	text-transform: none;
}

.codepen-style h2 a { font-weight: 700; }
/* ----------- End CodePen styles ----------- */


/* Structure MOBILE FIRST
------------------------------------- */

body {
	background: #f1f1f1;
	padding: 1em 8% 10em;
}

/* Navigation
----------------- */

.navigation {
	height: auto;
	width: 100%;
	display: block;
}

.navigation li { width: 100%; }

.navigation a {
	display: block;
	padding: 0.5em 0 0.5em 1em;
	margin: 0;
	line-height: 2em;
	font-weight: 400;
	color: #333;
	text-transform: uppercase;
}
.navigation a:hover {
	background-color: #666;
	color: #333;
}

.navigation li:nth-child(1) a { background-color: #00FF96 ; }
.navigation li:nth-child(2) a { background-color: #FF6524 ; }
.navigation li:nth-child(3) a { background-color: #FFA300 ; }
.navigation li:nth-child(4) a { background-color: #FFCD00 ; }
.navigation li:nth-child(5) a { background-color: #F2F600 ; }

.navigation li:nth-child(1) a:hover,
.navigation li:nth-child(2) a:hover,
.navigation li:nth-child(3) a:hover,
.navigation li:nth-child(4) a:hover,
.navigation li:nth-child(5) a:hover { background-color: #666; }

.navigation svg {
	width: 30px;
	height: 1.5em;
	vertical-align: text-top;
}

svg {
	opacity:1;
	fill-opacity:1;
	fill-rule:nonzero;
	vertical-align: top;
	fill: #333;
}

.navigation a:hover svg { fill: #333; }

.navigation span {
	display: inline-block;
	padding-left: 0.5em;
}

/* END Navigation 
----------------- */


/* Structure DESKTOP
------------------------------------- */
@media only screen and (min-width: 1024px) {

body { padding: 2em 0 0 4em; }

header, article, section, footer {
	margin: 0 auto;
	max-width: 670px;
	width: auto;
	display: block;
}

header { padding-top: 0; }

/* Navigation
----------------- */

.navigation {
	transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
	transition-timing-function: line;
}

.navigation a:hover {
	transition-delay: 0s;
	transition-duration: 0.2s;
	transition-property: all;
	transition-timing-function: line;
}

.navigation {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 4em;
	background-color: #333;
}
.navigation:hover {
	position: fixed;
	width: 9.5em;
}

.navigation ul { display: block; }

.navigation li{ display: block; }

.navigation a {
	padding: 0.8em 0.6em 0.8em 1em;
	color: #F1F1F1;
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}

.navigation li:nth-child(1) a,
.navigation li:nth-child(2) a,
.navigation li:nth-child(3) a,
.navigation li:nth-child(4) a,
.navigation li:nth-child(5) a { background-color: transparent; }
.navigation a:hover {
	display: inline-block;
	padding: 0 0 0 1em;
	margin: 0;
	line-height: 2em;
	font-weight: 400;
	width: 6em; 
}

.navigation:hover a {
	display: inline-block;
	width: 8.5em;
	padding: 0.8em 0 0.8em 1em;
}

.navigation span { text-indent: -200px; }
.navigation:hover span{
	display: inline-block;
	text-indent: 0;
}
.active { background-color: #F1F1F1; }

.navigation svg{
	width: 30px;
	height: 2em;
	vertical-align: top;
}

.navigation svg:hover { fill: #333; }

.home { fill: #00FF96; }
.about { fill: #FF6524; }
.work { fill: #FFA300; }
.lab { fill: #FFCD00; }
.contact { fill: #F2F600; }

/* Menu position on the navigation bar */
.menu {
	left: 0;
	position: fixed;
	height: auto;
	width: auto;
}
.menu { top: 0; }
/* END Menu position on the navigation bar */


/* ----------------- 
End Navigation */

}

/* Structure DESKTOP when is 1920px height or more
------------------------------------- */
@media only screen and (min-height: 1920px) {
	.navigation:hover {
		width: 8.592em;
	}

	.navigation a {
		font-size: 0.9em;
		padding: 0.8em 0.8259em 0.8em 1em;
	}

}
